beautifulsoup4==4.6.0
blessings==1.6
bpython==0.16
certifi==2017.7.27.1
chardet==3.0.4
curtsies==0.2.11
dj-database-url==0.4.2
Django==1.11.23
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
konlpy==0.4.4
lxml==4.0.0
numpy==1.13.3
psycopg2==2.7.3.1
Pygments==2.2.0
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
wcwidth==0.1.7
whitenoise==3.3.1
