
<!DOCTYPE html>
<html lang="ko">


<head>
  <!-- 워드 클라우드 클릭 설정 -->
  <style>
    svg > g > text {
      cursor: pointer;
      opacity: 0.7;
    }
    svg > g > text:hover {
      opacity: 1;
    }
    svg > g > text:active {
      opacity: 1;
    }
    svg > g > text:focus {
      opacity: 1;
    }
  </style>

<!-- 상단 및 css -->
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    {% load static %}
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'd3.layout.cloud.js'%}"></script>
    <link rel="shortcut icon" href="{% static 'toplogo.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'toplogo.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="reset" href="{% static 'reset.css'%}">
    <title>N3WS</title>
</head>


<body >
    <!-- 로고 -->
    <div id="header">
        <div class="logo_png">
          <img src="{% static 'logo.png'%}" width="200" height="122">
        </div>
        <div class="logo_title">
          <h1><font size="5">세상의 모든 세 줄 기사</font></h1>
        </div>
    </div>

    <!-- 내용 표시할 main (클라우드 결과물 실행))-->
    <div id="main">
          <div id="cloud"></div>
          <script type="text/javascript">
          var weight = 3,
              width = 500,
              height = 300;
              //워드클라우드 창
          var fill = d3.scale.category20();
          d3.csv("/words/", function(d) {
                  return {
                      text: d.word,
                      size: +d.freq * 100
                      //글씨 사이즈 : 숫자가 커질수록 글씨가 작아짐
                  }
              },
              function(data) {
                  d3.layout.cloud().size([width, height]).words(data)
                      //.rotate(function() { return ~~(Math.random() * 2) * 90; })
                      .rotate(0)
                      .font("Impact")
                      .fontSize(function(d) { return d.size; })
                      .on("end", draw)
                      .start();
                  function draw(words) {
                      d3.select("#cloud").append("svg")
                          .attr("width", width)
                          .attr("height", height)
                          .append("g")
                          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
                          //워드클라우드 위치
                          .selectAll("text")
                          .data(words)
                          .enter().append("text")
                          .style("font-size", function(d) { return d.size + "px"; })
                          .style("font-family", "Impact")
                          .style("fill", function(d, i) { return fill(i); })
                          .attr("text-anchor", "middle")
                          .attr("transform", function(d) {
                              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                          })
                          .on("click", function(d) {window.location = "/result/" + d.text;})
                          .text(function(d) { return d.text; });
                  }
              });
          </script>
      </div>
    <!-- 맨 아래 소속 -->
    <div id="footer">
        <p>이화여자대학교 컴퓨터공학과 졸업프로젝트 <a href="http://cse.ewha.ac.kr/">헤드라인</a></p>
    </div>
</body>

</html>
