<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    {% load static %}
    <title>N3WS</title>
</head>

<body style="background-color:#dedede;">
    <!-- Headline을 표시할 부분 -->
    <div align="center">
      <div id="header">
        <div class="logo_title">
          <h1><font size="5">세상의 모든 세 줄 기사</font></h1>
        </div>
        <div class="logo_png">
          <img src="{% static 'logo.png'%}" width="200" height="122">
        </div>
    </div>
  </div>
    <!-- 내용 표시할 main -->
    <div id="main">
        <div class="display_keyword">
          <div align="center">
            <h3><a href="#">keyword</a></h3>
          </div>
        </div>
        <div class="content_space">
            <div style="clear:both;">
                <br />
            </div>
            <!-- 기사 나열 -->
            <ul id="news_list_big">
                {% for news in object_list %}
                <ul class="news_list_small"><a href="{{news.url}}"></a>
                    <li>news.sentence1 </li>
                    <li>news.sentence2 </li>
                    <li>news.sentence3 </li>
                </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- 그외 잡다한거 -->
    <div id="footer">
      <div style="position: fixed;
      right: 10px;
      bottom:0px;
      ">
        <p>이화여자대학교 컴퓨터공학과 졸업프로젝트 <a href="https://cse.ewha.ac.kr/">헤드라인</a></p>
    </div>
    <!-- 위로 가기 화살표
     -->
    <!-- <div id="uparrow" style="position: fixed; bottom:5px; left: 300px;">
    <a href="#header"><img src="uparrow.png" alt="맨위로 올라가기" width="10%"></a>
</div> -->
</body>

</html>
