
<!DOCTYPE html>
<html lang="ko">


<head>



  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    {% load static %}
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static 'd3.layout.cloud.js'%}"></script>
    <title>N3WS 테스트</title>
</head>


<body style="background-color:#dedede; text-align:center">
    <!-- Headline을 표시할 부분 -->
    <div id="header">
        <div class="logo_title">
          <h1><font size="5">세상의 모든 세 줄 기사</font></h1>
        </div>

        <div class="logo_png">
          <img src="{% static 'logo.png'%}" width="200" height="122">
        </div>
    </div>

    <!-- 내용 표시할 main (클라우드 결과물 실행))-->
    <div id="main">
          <p>이것은 두번쨰 페이지다ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ</p>
      </div>

    <!-- 그외 잡다한거 -->

    <div id="footer">
      <div style="position: fixed;
      right: 10px;
      bottom:0px;
      ">
        <p>이화여자대학교 컴퓨터공학과 졸업프로젝트 <a href="https://cse.ewha.ac.kr/">헤드라인</a></p>
    </div>
</body>

</html>
